body {
    margin: 0;
    background-color: rgb(196, 204, 201);
}
.main {
    background-color: rgb(196, 204, 201);
    color:rgb(8, 86, 60);
    padding-left: 10px;
}
header {
    background-color:rgb(8, 86, 60);
    color: white;
    height: 200px;
    margin-top: -20px;
}
nav ul {
    display: flex;
    flex-direction: row;
}
nav li {
    list-style: none;
    padding: 10px;
}
nav li a {
    color: white;
    text-decoration: none;
}
nav li a:hover {
   color:rgb(164, 211, 195);
   cursor: pointer;
    text-decoration: underline;
}

.dragonImage {
    height: 300px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 10px 5px 3px rgb(122, 140, 134);
    margin-bottom: 20px;
}

h1, h2 {
    margin: 10px;
    padding: 10px;
}

footer p {
    margin: 10px;
    padding: 10px;
}
.dragon {
    margin: 20px;
}